<!DOCTYPE html>

<html lang="en" :class="theme" x-data="{
  theme:window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches?'dark':'light',
  toggleTheme(){
    if(this.theme==='light'){
      this.theme='dark'
    }else{
    this.theme='light'
    }
    localStorage.setItem('theme',this.theme)
  },
  init(){
    const saved_theme=localStorage.getItem('theme')
    if(saved_theme){
      this.theme=saved_theme
    }
  }
}">  
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{%block title%}Joky{%endblock%}</title>
        <meta name="description" content="{%block description%}
        Joky is a free and simple funny jokes API. It is very fast, and easy to learn.
        {%endblock%}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" 
rel="stylesheet">
        <link rel="icon" type="image/png" href="{{url_for('static',filename='images/logo.png')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/output.css')}}">
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
        <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    </head>
    <body>
    <header class="my-main-nav">
         <a class=" my-logo-section" href="{{url_for('app.home')}}">
            <img src="{{url_for('static',filename='/images/logo.png')}}"
            class="w-7! h-7! "
            alt="Logo image"
            />
           
         </a>
         <div class="flex items-center gap-2">
          <button @click="toggleTheme()" class="px-2!" aria-label="Switch theme">
            <span class="iconify" data-icon="lucide:sun" x-show="theme==='light'"></span>
             <span class="iconify" data-icon="lucide:moon" x-show="theme==='dark'"></span>
          </button>
          <a href=""></a>
         </div>
    </header>
      <div class="my-sidebar-layout">
        <aside class="my-sidebar">
          <nav x-data="{
          links:[
            {
              id:2,
              name:'All Jokes',
              href:'#jokes'
            }
          ]
          }">
            <template x-for="link in links" :key="link.id">
              <a :href="link.href" x-text="link.name"
              class="px-4 py-2 text-content! hover:text-primary!"
              ></a>
            </template>
          </nav>
        </aside>
        <main class="my-content">
        {%block content%}{%endblock%}
        
        </main>
      </div>
        
        
        <script src="{{url_for('static',filename='js/app.js')}}" type="module" ></script>
    </body>
</html>
