@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme{
    --font-sans:"Inter","Verdana";
    --font-mono:"Jetbrains Mono",monospace;
    --color-code:var(--color-yellow-400);
    --color-content:var(--color-gray-700);
    --color-primary:var(--color-green-500);
    --color-default:var(--color-white);
    --color-info:var(--color-blue-500);
    --color-success:var(--color-green-500);
    --color-warning:var(--color-amber-500);
    --color-error:var(--color-red-500);
    --color-neutral:var(--color-neutral-800);
    --color-accent:var(--color-gray-200);
    --color-muted:var(--color-gray-600);
    --radius-primary:var(--radius-lg);
    --shadow-primary:var(--shadow-sm);

}
.dark{
    --color-content:var(--color-gray-100);
    --color-default:var(--color-gray-800);
    --color-accent:var(--color-gray-700);

}
.iconify{
    @apply text-lg
}
*{
    @apply break-after-all transition-all duration-150 ease-in-out focus:outline-0;
}

body{
    @apply text-base text-content bg-default 
    selection:bg-primary selection:text-white leading-relaxed font-normal;
}
h1,h2,h3,h4,h5,h6{
    @apply  mb-4 leading-snug;
}
h1{
    @apply text-3xl lg:text-4xl font-bold;
}
h2{
    @apply text-2xl font-semibold;
}
h3{
    @apply text-xl font-medium;
}
img{
    @apply block w-full h-auto object-cover object-center; 
}
a:not(.button){
    @apply inline-flex items-center justify-center gap-2
     text-primary hover:text-primary focus-visible:underline;
}
button,.button{
    @apply inline-flex items-center justify-center px-4 py-2 rounded-primary cursor-pointer
    text-center gap-2 focus-visible:ring-4 focus-visible:ring-primary/50;
}
section{
    @apply my-6 ;
}
hr{
    @apply border-accent rounded-primary
}
code{
    @apply font-mono
}
@utility my-code-block{
    @apply rounded-primary block my-2 py-2 px-4 bg-zinc-900  relative;
}
@utility my-code{
    @apply text-code! selection:bg-code! selection:text-white font-mono text-sm
}
@utility my-second-code-block{
    @apply rounded-primary block my-2 py-2 px-4 bg-accent  relative;
}
@utility my-container{
    @apply container mx-auto p-4;
}
@utility my-main-nav{
    @apply flex items-center 
    justify-between h-14 sticky top-0 px-4 lg:px-6 
    bg-default/90 border-b border-accent  backdrop-blur-md z-2;
}
@utility my-logo-section{
    @apply  flex items-center justify-center gap-2 transform  hover:rotate-20;
}
@utility my-sidebar-layout{
    @apply flex flex-col-reverse lg:flex-row gap-0 
}
@utility my-sidebar{
    @apply lg:w-1/4 hidden lg:block border-r border-accent h-[94vh] sticky top-14 z-1 pt-10;
}
@utility my-content{
    @apply w-full  lg:w-3/4 block lg:px-8
}