{%extends "layouts/default.html"%}
{% block title %}Joky - Free Jokes API{% endblock %}

{% block content %}
<div class=" my-container ">
    <section >
        <h1>Free Jokes for Y'all!!</h1>
    <p>Cupidatat do aliquip sit quis elit in anim minim laborum eu eu aliqua minim exercitation.
    Magna ullamco eiusmod tempor culpa id veniam eu velit qui <a href="/api/jokes">Go to jokes</a>.
    </p>
    </section>
    <hr/>
    <section id="all_jokes">
        <h2>All Jokes</h2> 
    </section>
    <p style="margin-top: 1000px;">sdkljroueqie</p>
</div>
{% endblock %}